.myOutfitBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    border: .2rem solid #895365;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.mainPageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    border: .2rem solid #895365;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.myOutfitBoxHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.searchBar {
    flex: 1; 
    margin-top: 1rem;
    width: 90%;
}

.searchBar:focus {
    outline: none;
}

button {
    background-color: #895365;
    border: none;
    color: #ffffe8;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    padding: .8rem;
}